
@{
    ViewData["Title"] = "Registrar prospecto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Registrar prospecto</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form method="post" class="ProspectoValidation">

                    <div class="form-row mt-4">
                        <div class="col-6 col-md-3">
                            <label for="PrimerNombre">Primer nombre</label>
                            <input type="text" id="PrimerNombre" name="PrimerNombre" class="form-control form-control-lg" />
                        </div>
                        <div class="col-6 col-md-3">
                            <label for="SegundoNombre">Segundo nombre</label>
                            <input type="text" id="SegundoNombre" name="SegundoNombre" class="form-control form-control-lg" />
                        </div>
                        <div class="col-6 col-md-3">
                            <label for="PrimerApellido">Primer apellido</label>
                            <input type="text" id="PrimerApellido" name="PrimerApellido" class="form-control form-control-lg" />
                        </div>
                        <div class="col-6 col-md-3">
                            <label for="SegundoApellido">Segundo apellido</label>
                            <input type="text" id="SegundoApellido" name="SegundoApellido" class="form-control form-control-lg" />
                        </div>
                    </div>

                    <div class="form-row mt-4">
                        <div class="col-12 col-md-6">
                            <label for="TipoDocumentoIdentidad">Tipo de documento</label>
                            <select id="TipoDocumentoIdentidad" name="TipoDocumentoIdentidad" class="form-control form-control-lg">
                                <option value="">Seleccione una opción</option>
                                <option value="1">CC</option>
                                <option value="2">CE</option>
                                <option value="3">NIT</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="NumeroDocumento">Número documento identidad</label>
                            <input type="text" id="NumeroDocumento" name="NumeroDocumento" class="form-control form-control-lg" />
                        </div>
                    </div>
                                        
                    <div class="form-row mt-4">
                        <div class="col-12 col-md-6">
                            <label for="Telefono">Teléfono</label>
                            <input type="text" id="Telefono" name="Telefono" class="form-control form-control-lg" />
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="Celular">Celular</label>
                            <input type="text" id="Celular" name="Celular" class="form-control form-control-lg" />
                        </div>
                    </div>

                    <div class="form-row mt-4">
                        <div class="col">
                            <label for="Email">Email</label>
                            <input type="email" id="email" name="email" class="form-control form-control-lg" />
                        </div>
                    </div>

                    <div class="form-row mt-4">
                        <div class="col-12">
                            <div class="bg-azul p-3 mb-2 text-white text-center">
                                <h5 class="mb-0">Referencia</h5>
                            </div>
                        </div>
                    </div>

                    <div class="form-row mt-4">
                        <div class="col">
                            <label for="referencia">Referencia</label>
                            <select id="referencia" name="referencia" class="form-control form-control-lg">
                                <option selected="selected" value="">Seleccione una referencia</option>
                                <option value="7650000" id="BWS X">BWS X</option>
                                <option value="8450000" id="BWS X BONO PAPELES">BWS X BONO PAPELES</option>
                                <option value="8200000" id="BWS X FI">BWS X FI</option>
                                <option value="9000000" id="BWS X FI BONO PAPELES">BWS X FI BONO PAPELES</option>
                                <option value="6900000" id="BWS125">BWS125</option>
                                <option value="7700000" id="BWS125 BONO PAPELES ">BWS125 BONO PAPELES </option>
                                <option value="5840000" id="CRYPTON 115 BONO PAPELES">CRYPTON 115 BONO PAPELES</option>
                                <option value="5040000" id="CRYPTON FI">CRYPTON FI</option>
                                <option value="5840000" id="CRYPTON FI BONO PAPELES">CRYPTON FI BONO PAPELES</option>
                                <option value="6790000" id="FAZER FI 2.0">FAZER FI 2.0</option>
                                <option value="7590000" id="FAZER FI 2.0 BONO PAPELES">FAZER FI 2.0 BONO PAPELES</option>
                                <option value="5700000" id="FINO">FINO</option>
                                <option value="6500000" id="FINO BONO PAPELES">FINO BONO PAPELES</option>
                                <option value="6290000" id="FZ-S FI 2.0">FZ-S FI 2.0</option>
                                <option value="7090000" id="FZ-S FI 2.0 BONO PAPELES">FZ-S FI 2.0 BONO PAPELES</option>
                                <option value="9250000" id="FZ25">FZ25</option>
                                <option value="10050000" id="FZ25 BONO PAPELES">FZ25 BONO PAPELES</option>
                                <option value="5250000" id="LIBERO 125 BONO PAPELES">LIBERO 125 BONO PAPELES</option>
                                <option value="17500000" id="MT 03">MT 03</option>
                                <option value="18300000" id="MT 03 BONO PAPELES">MT 03 BONO PAPELES</option>
                                <option value="9900000" id="N-MAX">N-MAX</option>
                                <option value="10700000" id="N-MAX BONO PAPELES">N-MAX BONO PAPELES</option>
                                <option value="8600000" id="N-MAX S">N-MAX S</option>
                                <option value="9400000" id="N-MAX S BONO PAPELES">N-MAX S BONO PAPELES</option>
                                <option value="5140000" id="SZ-RR 2.0">SZ-RR 2.0</option>
                                <option value="5940000" id="SZ-RR 2.0 BONO PAPELES">SZ-RR 2.0 BONO PAPELES</option>
                                <option value="12890000" id="TRICITY">TRICITY</option>
                                <option value="13690000" id="TRICITY BONO PAPELES">TRICITY BONO PAPELES</option>
                                <option value="6650000" id="XTZ 125">XTZ 125</option>
                                <option value="7450000" id="XTZ 125 BONO PAPELES">XTZ 125 BONO PAPELES</option>
                                <option value="15900000" id="XTZ 250">XTZ 250</option>
                                <option value="16700000" id="XTZ 250 BONO PAPELES">XTZ 250 BONO PAPELES</option>
                                <option value="5750000" id="YBR 125 BONO PAPELES">YBR 125 BONO PAPELES</option>
                                <option value="17250000" id="YZF R 3">YZF R 3</option>
                                <option value="18050000" id="YZF R 3 BONO PAPELES">YZF R 3 BONO PAPELES</option>
                                <option value="8990000" id="YZF R15">YZF R15</option>
                                <option value="9790000" id="YZF R15 BONO PAPELES">YZF R15 BONO PAPELES</option>

                            </select>
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="costo_del_bien">Costo del bien</label>
                            <input type="text" class="form-control-plaintext form-control-lg" id="costo_del_bien" name="costo_del_bien" readonly /> 
                        </div>
                    </div>

                    <div class="form-row mt-4">
                        <div class="col">
                            <span class="badge badge-azul">1</span>
                            <label for="cuota_ingreso">Cuota de ingreso (4.5% sobre el valor del bien)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="cuota_ingreso_addon">$</span>
                                </div>
                                <input type="text" class="form-control form-control-lg" aria-label="cuota_ingreso" aria-describedby="cuota_ingreso_addon" id="cuota_ingreso" name="cuota_ingreso" placeholder="0.00" readonly />
                            </div>
                        </div>
                        <div class="col">
                            <span class="badge badge-azul">5</span>
                            <label for="administracion">Administración (N% sobre cuota neta)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="administracion_addon">$</span>
                                </div>
                                <input type="text" class="form-control form-control-lg" aria-label="administracion" aria-describedby="administracion_addon" id="administracion" name="administracion" placeholder="0.00" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="form-row mt-4">
                        <div class="col">
                            <span class="badge badge-azul">2</span>
                            <label for="iva_cuota_ingreso">I.V.A. sobre la cuota de ingreso (N%)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="iva_cuota_ingreso_addon">$</span>
                                </div>
                                <input type="text" class="form-control form-control-lg " aria-label="iva_cuota_ingreso" aria-describedby="iva_cuota_ingreso_addon" name="iva_cuota_ingreso" id="iva_cuota_ingreso" placeholder="0.00" readonly />                            
                            </div>
                        </div>
                        <div class="col">
                            <span class="badge badge-azul">6</span>
                            <label for="iva_administracion">I.V.A. sobre la administración (N$)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="iva_administracion_addon">$</span>
                                </div>
                                <input type="text" class="form-control form-control-lg " aria-label="iva_administracion" aria-describedby="iva_administracion_addon" id="iva_administracion" name="iva_administracion" placeholder="0.00" readonly />
                            </div>
                        </div>
                    </div>


                    <div class="form-row mt-4">
                        <div class="col">
                            <span class="badge badge-azul">3</span>
                            <label for="total_cuota_ingreso">Total cuota de ingreso (N%) ( <span class=" badge badge-azul">1</span> + <span class="badge badge-azul">2</span> )</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="total_cuota_ingreso_addon">$</span>
                                </div>
                                <input type="text" class="form-control form-control-lg" aria-label="total_cuota_ingreso" aria-labelledby="total_cuota_ingreso_addon" id="total_cuota_ingreso" name="total_cuota_ingreso" placeholder="0.00"  readonly />
                            </div>
                        </div>
                        <div class="col">
                            <span class="badge badge-azul">7</span>
                            <label for="total_cuota_bruta">Total cuota bruta (N%) ( <span class="badge badge-azul">4</span> + <span class="badge badge-azul">5</span> + <span class="badge badge-azul">6</span> )</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="total_cuota_bruta_addon">$</span>
                                </div>
                                <input type="text" class="form-control form-control-lg" aria-label="total_cuota_bruta" aria-describedby="total_cuota_bruta_addon" id="total_cuota_bruta" name="total_cuota_bruta" placeholder="0.00" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="form-row mt-4">
                        <div class="col">
                            <span class="badge badge-azul">4</span>
                            <label for="primera_cuota_neta">Primera cuota neta: (valor del bien / plazo)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="primera_cuota_neta_addon">$</span>
                                </div>
                                <input type="text" class="form-control form-control-lg" aria-label="primera_cuota_neta" aria-describedby="primera_cuota_neta_addon" id="primera_cuota_neta" name="primera_cuota_neta" placeholder="0.00" readonly />
                            </div>
                        </div>
                        <div class="col">
                            <span class="badge badge-azul">8</span>
                            <label for="valor_primer_pago">Valor total primer pago: ( <span class="badge badge-azul">3</span> + <span class="badge badge-azul">7</span> )</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="valor_primer_pago_addon">$</span>
                                </div>
                                <input type="text" class="form-control form-control-lg" aria-label="valor_primer_pago" aria-describedby="valor_primer_pago_addon" id="valor_primer_pago" name="valor_primer_pago" placeholder="0.00" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="form-row mt-4">
                        <div class="col-12">
                            @await Html.PartialAsync("~/Views/Shared/TratamientoDeDatosPersonales.cshtml")
                            
                        </div>
                    </div>



                    <div class="form-row mt-4">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-azul"><i class="far fa-save"></i> Guardar</button>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</section>

