@using Microsoft.AspNetCore.Identity
@using ContratoDigital.Areas.Identity.Data
@inject SignInManager<ContratoDigitalUser> SignInManager
@inject UserManager<ContratoDigitalUser> UserManager


@{
    ViewData["Title"] = "Inicio";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div style="background: url('../../../../images/background/scooter.jpg') no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;min-height: 20rem;">
                <h1 class="text-white text-center text-shadow" data-aos="fade-in" data-aos-delay="500" style="max-width: 50%;position:absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);">
                    @{ 
                        //var userID = UserManager.GetUserId(User);
                        var user = UserManager.Users.SingleOrDefault(x => x.Id == UserManager.GetUserId(User));
                        Write("Bienvenido " + user.Nombre + " " + user.Apellido);
                    }
                </h1>
            </div>
        </div>
    </div>    
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 mt-2">
            <div class="polymer-box text-center p-4">
                <a href="@Url.Action("Create", "Prospectos")">
                    <h4><i class="far fa-address-card"></i> Registrar un prospecto</h4>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 mt-2">
            <div class="polymer-box text-center p-4">
                <a href="@Url.Action("Find", "Prospectos")">
                    <h4><i class="fas fa-search"></i> Consultar prospectos</h4>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 mt-2">
            <div class="polymer-box text-center p-4">
                <a href="@Url.Action("Find", "ContratoDigital")">
                    <h4><i class="fas fa-search"></i> Buscar contrato</h4>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 mt-2">
            <div class="polymer-box text-center p-4">
                <a href="@Url.Action("CargaMasiva", "Prospectos")">
                    <h4><i class="far fa-file-alt"></i> Carga masiva</h4>
                </a>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Noticias y Notificaciones
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="polymer-box">
                                <h4>Plenaria en Medellín</h4>
                            </div>
                            <div class="polymer-box">
                                <h5>Inicio de migración</h5>
                            </div>
                            <div class="polymer-box">
                                <h5>
                                    Conexión Bineural asimétrica de la macropersonalidad
                                    inversa del fenotipo ofuscado por la coerción natural
                                    de la ostracización de los parias.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                ReadMe.markdown
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="polymer-box">
                                <h4>Contrato Digital</h4>
                                <p><strong>Arquitecto de sistemas:</strong> Luis Robles</p>
                                <p><strong>Proyect Manager:</strong> Juan Pablo Alviar</p>

                                <p>Sistema para la generación y administración de contratos digitales de Autofinanciera.</p>

                                <h4>Instalación</h4>
                                <ul>
                                    <li>Visual Studio 2017 Community Edition (15.7.4)</li>
                                    <li>ASP.NET Core 2.1.1 con SDK 2.1 (311)</li>
                                    <li>C# 7.0</li>
                                    <li>HTML5, CSS3, Javascript</li>
                                    <li>Incluir los pasos de instalaciones y despligue en el servidor de linux</li>
                                </ul>



                                <h4>Librerias</h4>
                                <ul>
                                    <li>jQuery 3.1.1</li>
                                    <li>Bootstrap 4.1.3</li>
                                    <li>iText 7.0</li>
                                    <li>FontAwesome 5.0.6</li>
                                </ul>
                                <h4>Versiones</h4>

                                <h5>0.1.5 (2018-07-13~)</h5>
                                <ul>
                                    <li>Creación webservice local hacia Siicon</li>
                                    <li>Conexión de jQuery contra el servicio de Siicon</li>
                                    <li>COnexión y rellenado de los métodos de siicon</li>
                                    <li>Carga del documento de identidad</li>
                                    <li>Carga de emails individuales</li>
                                    <li>Separación de la cédula en su propia tabla</li>
                                    <li>Reedición de todos los PDF's</li>
                                </ul>
                                <h5>0.1.4.2 (2018-07-10)</h5>
                                <ul>
                                    <li>Confirmación del correo de aceptación del contrato.</li>
                                    <li>Conformación de los contratos PDFs.</li>
                                    <li>Búsqueda de contratos y prospectos.</li>
                                </ul>

                                <h5>0.1.4 (2018-07-10)</h5>
                                <ul>
                                    <li>Confirmación del correo de aceptación del contrato.</li>
                                    <li>Conformación de los contratos PDFs.</li>
                                </ul>

                                <h5>0.1.3 (2018-07-06)</h5>
                                <ul>
                                    <li>Envío del recibo y del contrato por correo.</li>
                                </ul>
                                <h5>0.1.1</h5>
                                <ul>
                                    <li>Creación del método de encriptación del código de barras Code128 escrito originalmente en VisualBasic Script..</li>
                                    <li>Creación del recibo de pago con el código de barras para llevarlo a confirmar por el banco.</li>
                                </ul>
                                <h5>0.1.0</h5>
                                <ul>
                                    <li>Creación del PDF.</li>
                                    <li>Rellenado del PDF.</li>
                                    <li>Exportación del PDF por el navegador.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>

            
        </div>
        
    </div>
</div>
