@using Microsoft.AspNetCore.Identity
@using ContratoDigital.Areas.Identity.Data
@inject SignInManager<ContratoDigitalUser> SignInManager
@inject UserManager<ContratoDigitalUser> UserManager


@{
    ViewData["Title"] = "Inicio";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div style="background: url('../../../../images/background/scooter.jpg') no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;min-height: 20rem;">
                <h1 class="text-white text-center text-shadow" data-aos="fade-in" data-aos-delay="500" style="max-width: 50%;position:absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);">
                    @{ 
                        //var userID = UserManager.GetUserId(User);
                        var user = UserManager.Users.SingleOrDefault(x => x.Id == UserManager.GetUserId(User));
                        Write("Bienvenido " + user.Nombre + " " + user.Apellido);
                    }
                </h1>
            </div>
        </div>
    </div>    
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 mt-2">
            <div class="polymer-box text-center p-4">
                <a href="@Url.Action("Create", "Prospectos")">
                    <h4><i class="far fa-address-card"></i> Registrar un prospecto</h4>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 mt-2">
            <div class="polymer-box text-center p-4">
                <a href="@Url.Action("Find", "Prospectos")">
                    <h4><i class="fas fa-search"></i> Consultar prospectos</h4>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 mt-2">
            <div class="polymer-box text-center p-4">
                <a href="@Url.Action("Find", "ContratoDigital")">
                    <h4><i class="fas fa-search"></i> Buscar contrato</h4>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 mt-2">
            <div class="polymer-box text-center p-4">
                <a href="@Url.Action("CargaMasiva", "Prospectos")">
                    <h4><i class="far fa-file-alt"></i> Carga masiva</h4>
                </a>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3>Changelog - Registro de cambios en el aplicativo</h3>

                    <h4>0.1.9.15(2019-04-11)</h4>
                    <h5>Feature:</h5>
                    <ul>
                        <li>Se limita el valor del abono y la generación referencia al saldo restante.</li>                        
                    </ul>


                    <hr />
                    <h4>0.1.9.14 (2019-04-09)</h4>
                    <h5>Minor Bugfixes</h5>
                    <ul>
                        <li>Reconstrucción del botón de actualización de estado del contrato.</li>
                        <li>Texto de la confirmación de recepción de ampliado siendo más específico.</li>
                        <li>Corrección de validación en la edición del prospecto.</li>
                        <li>Corrección de redireccionamiento al editar un prospecto desde la búsqueda discriminada.</li>
                        <li>Se oculta la emisión de recibos una vez pagado en su totalidad.</li>
                    </ul>

                    <hr />
                    <h4>2019-04-08 V-0.1.9.12</h4>
                    <h5>Feature:</h5>
                    <ul>
                        <li>Unicidad de número de cédula a nivel de prospectos.</li>
                    </ul>

                    <hr />
                    <h4>2019-04-08 V-0.1.9.13</h4>
                    <h5>BugFixes:</h5>
                    <ul>
                        <li>Corrección del botón de reenvío de condiciones del contrato.</li>
                    </ul>


                    <hr />
                    <h4>2019-04-08 V-0.1.9.12</h4>
                    <h5>BugFixes:</h5>
                    <ul>
                        <li>Unicidad de número de cédula a nivel de prospectos.</li>
                    </ul>

                    <hr />
                    <h4>2019-04-08 V-0.1.9.11</h4>
                    <h5>BugFixes:</h5>
                    <ul>
                        <li>
                            Límite de acceso para la lógica matemática que redirecciona en caso de:
                            <ul>
                                <li>
                                    Intentar generar un contrato sin que el prospecto tenga la confirmación
                                    de tratamiento de datos.
                                </li>
                                <li>
                                    Intentar generar un contrato sin que el último esté debidamente pagado y
                                    registrado en el Siicon.
                                </li>
                                <li>
                                    Validar que al intentar generar un contrato, este sea el primero, si no lo es, validar que el
                                    último contrato registrado se encuentre cerrado (pagado, registrado en Siicon).
                                </li>
                            </ul>
                        </li>
                        <li>Se agrega el estado del contrato en la vista de detalle del prospecto.</li>
                        <li>
                            Se agrega el estado de la confirmación de recepción del contrato en la vista de
                            detalle del contrato.
                        </li>
                    </ul>
                    <h5>Feature:</h5>
                    <ul>
                        <li>
                            Los recibos emiten ahora dos referencias, una específica para Bancolombia y otra para el resto
                            de los medios de pago.
                        </li>
                        <li>Actualización de arte: toda la tipografía se convierte a Lato (Regular y Bold, normal y oblicua)</li>
                    </ul>
                    <hr />
                    <h4>2019-04-05 v-0.1.9.10</h4>
                    <h5>Bugfixes:</h5>
                    <ul>
                        <li>Limitación y comprobación de registro de pagos manuales a valores repetidos.</li>
                        <li>Limitación a tamaño de la cédula.</li>
                        <li>Conversión automática a 0 en los campos correspondientes al ingreso y egreso.</li>
                        <li>Limitación de creación y registro de contratos nuevos, mientras el último contrato no esté pagado y registrado en Siicon.</li>
                        <li>Limitación de generación o envío por correo del contrato mientras el contrato no haya sido registrado en Siicon.</li>
                    </ul>

                    <hr />
                    <h4>2019-03-18 V-0.1.9.9</h4>
                    <h5>Bugfixes:</h5>
                    <ul>
                        <li>Corrección de PDF.</li>
                        <li>FREEZEE.</li>
                    </ul>

                    <hr />
                    <h4>2019-03-11 V-0.1.9.7</h4>
                    <h5>Features:</h5>
                    <ul>
                        <li>Registro de pagos automatizados de tu compra.</li>
                        <li>Actualización del modelo de datos</li>
                    </ul>

                    <hr />
                    <h4>2019-03-08 V-0.1.8.81</h4>
                    <h5>Minor bug fixes:</h5>
                    <ul>
                        <li>Limpieza en cascada del formulario de la liquidación.</li>

                        <li>
                            Actualización de la vista de detalle y la vista de indexación del contrato, conteniendo
                            datos extra, la definición de las ciudades y departamentos, y el estado del contrato como tal.
                        </li>
                        <li>
                            Actualización de vista resumen con los pagos manuales, automáticos y bancarios, realizando la sumatoria
                            en cada caso individual.
                        </li>
                        <li>
                            Modificación de las reglas de validación: no se pueden tener dos contratos abiertos al mismo tiempo
                            hasta que el último de ellos no haya terminado la validación y se encuentre en estado cerrado.
                        </li>
                        <li>Un prospecto puede tener tantos contratos como sea posible.</li>
                        <li>Limitación de las reglas de validación y continuación del contrato.</li>
                        <li>Modificación de forma de los PDFs.</li>
                        <li>Inclusión de generación de pagos para promociones.</li>
                        <li>Registro ordenado de los pagos manuales directamente con el contrato completo.</li>
                    </ul>

                    <hr />
                    <h4>2019-02-18 V-0.1.8.80</h4>
                    <h5>Minor bug fixes:</h5>
                    <ul>
                        <li>Actualización de scripts de Framework.</li>
                        <li>Actualización de modelos de datos.</li>
                    </ul>

                    <hr />
                    <h4>2019-02-01 V-0.1.8.76</h4>
                    <h5>Bugfixes:</h5>
                    <ul>
                        <li>Una vez aceptadas las condiciones del contrato, el contrato se registra en cierre comercial automáticamente.</li>
                        <li>Registro de pagos manuales no convencionales.</li>
                        <li>Cambio de las reglas de validación.</li>
                        <li>Inclusión de la validación de asesor en el momento del registro.</li>
                        <li>Inclusión de bloqueo de edición basado en el estado del contrato.</li>
                        <li>El documento de identidad solo puede ser una imagen, se refuerza el tipo de archivo y el tipo del MIME/TYPE</li>
                        <li>Se remueve temporalmente el código de barras mientras se hacen las pruebas.</li>
                        <li>Se agregan propiedades diferentes en el detalle y la búsqueda.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
