@using Microsoft.AspNetCore.Identity
@using ContratoDigital.Areas.Identity.Data
@inject SignInManager<ContratoDigitalUser> SignInManager
@inject UserManager<ContratoDigitalUser> UserManager


@{
    ViewData["Title"] = "Inicio";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div style="background: url('../../../../images/background/scooter.jpg') no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;min-height: 20rem;">
                <h1 class="text-white text-center text-shadow" data-aos="fade-in" data-aos-delay="500" style="max-width: 50%;position:absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);">
                    @{ 
                        //var userID = UserManager.GetUserId(User);
                        var user = UserManager.Users.SingleOrDefault(x => x.Id == UserManager.GetUserId(User));
                        Write("Bienvenido " + user.Nombre + " " + user.Apellido);
                    }
                </h1>
            </div>
        </div>
    </div>    
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 mt-2">
            <div class="polymer-box text-center p-4">
                <a href="@Url.Action("Create", "Prospectos")">
                    <h4><i class="far fa-address-card"></i> Registrar un prospecto</h4>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 mt-2">
            <div class="polymer-box text-center p-4">
                <a href="@Url.Action("Find", "Prospectos")">
                    <h4><i class="fas fa-search"></i> Consultar prospectos</h4>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 mt-2">
            <div class="polymer-box text-center p-4">
                <a href="@Url.Action("Find", "ContratoDigital")">
                    <h4><i class="fas fa-search"></i> Buscar contrato</h4>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 mt-2">
            <div class="polymer-box text-center p-4">
                <a href="@Url.Action("CargaMasiva", "Prospectos")">
                    <h4><i class="far fa-file-alt"></i> Carga masiva</h4>
                </a>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3>Changelog - Registro de cambios en el aplicativo</h3>
                    <h4>2019-02-18 V-0.1.8.80</h4>
                    <ul>
                        <li>Minor bug fixes.</li>
                        <li>Actualización de scripts de Framework.</li>
                        <li>Actualización de modelos de datos.</li>
                    </ul>
                    

                    <h4>2019-02-01 V-0.1.8.76</h4>
                    <ul>
                        <li>Una vez aceptadas las condiciones del contrato, el contrato se registra en cierre comercial automáticamente.</li>
                        <li>Registro de pagos manuales no convencionales.</li>
                        <li>Cambio de las reglas de validación.</li>
                        <li>Inclusión de la validación de asesor en el momento del registro.</li>
                        <li>Inclusión de bloqueo de edición basado en el estado del contrato.</li>
                        <li>El documento de identidad solo puede ser una imagen, se refuerza el tipo de archivo y el tipo del MIME/TYPE</li>
                        <li>Se remueve temporalmente el código de barras mientras se hacen las pruebas.</li>
                        <li>Se agregan propiedades diferentes en el detalle y la búsqueda.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
