@using Microsoft.AspNetCore.Identity
@using ContratoDigital.Areas.Identity.Data
@inject SignInManager<ContratoDigitalUser> SignInManager
@inject UserManager<ContratoDigitalUser> UserManager


@{
    ViewData["Title"] = "Inicio";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div style="background: url('../../../../images/background/scooter.jpg') no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;min-height: 20rem;">
                <h1 class="text-white text-center text-shadow" data-aos="fade-in" data-aos-delay="500" style="max-width: 50%;position:absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);">
                    @{ 
                        //var userID = UserManager.GetUserId(User);
                        var user = UserManager.Users.SingleOrDefault(x => x.Id == UserManager.GetUserId(User));
                        Write("Bienvenido " + user.Nombre + " " + user.Apellido);
                    }
                </h1>
            </div>
        </div>
    </div>    
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 mt-2">
            <div class="polymer-box text-center p-4">
                <a href="@Url.Action("Create", "Prospectos")">
                    <h4><i class="far fa-address-card"></i> Registrar un prospecto</h4>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 mt-2">
            <div class="polymer-box text-center p-4">
                <a href="@Url.Action("Find", "Prospectos")">
                    <h4><i class="fas fa-search"></i> Consultar prospectos</h4>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 mt-2">
            <div class="polymer-box text-center p-4">
                <a href="@Url.Action("Find", "ContratoDigital")">
                    <h4><i class="fas fa-search"></i> Buscar contrato</h4>
                </a>
            </div>
        </div>
        @*<div class="col-12 col-sm-12 col-md-6 mt-2">
            <div class="polymer-box text-center p-4">
                <a href="@Url.Action("CargaMasiva", "Prospectos")">
                    <h4><i class="far fa-file-alt"></i> Carga masiva</h4>
                </a>
            </div>
        </div>*@
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3>Changelog - Registro de cambios en el aplicativo</h3>
                    <hr />

                    <h4>1.0 (2019-07-31)</h4>
                    <h5>Feature</h5>
                    <ul>
                        <li>Contratos actualizados.</li>
                        <li>Versión 1.0 Producción.</li>
                    </ul>

                    <h4>0.1.9.73 (2019-07-30)</h4>
                    <h5>Feature</h5>
                    <ul>
                        <li>Templates de correos electrónicos con el arte de Qurii.</li>
                    </ul>


                    <h4>0.1.9.72 (2019-07-25)</h4>
                    <h5>Feature</h5>
                    <ul>
                        <li>Reconstrucción de guías de pago a fonbienes y autofinanciera.</li>
                        <li>Reconstrucción de cotizaciones a formato preliminar nuevo.</li>
                        <li>Reconstrucción del manual del suscriptor.</li>
                    </ul>


                    <h4>0.1.9.70 (2019-07-25)</h4>
                    <h5>Feature</h5>
                    <ul>
                        <li>Inclusión de tipo de bien cuota fija o variable de forma explicita.</li>
                        <li>Inclusión de mensajes de respuesta del Siicon vacío.</li>
                    </ul>


                    <h4>0.1.9.64 (2019-07-24)</h4>
                    <h5>Bugfix</h5>
                    <ul>
                        <li>Adecuación de creación de usuarios según el Siicon.</li>
                    </ul>

                    <h4>0.1.9.63 (2019-07-24)</h4>
                    <h5>Bugfix</h5>
                    <ul>
                        <li>Creación de usuarios.</li>

                    </ul>


                    <h4>0.1.9.62 (2019-07-24)</h4>
                    <h5>Feature</h5>
                    <ul>
                        <li>Se agrega la pantalla de "Mis prospectos" donde se filtra por usuario y por agencia automáticamente.</li>
                        <li>Se organizan las listas de prospectos y contratos por fecha de creación.</li>
                        <li>Se redirige el correo con el contrato a digital@autofinanciera.com.co</li>
                        <li>Se agrega el tipo de bien al nombre del bien (usado o nuevo)</li>
                    </ul>

                    <h4>0.1.9.61 (2019-07-23)</h4>
                    <h5>Bugfixes</h5>
                    <ul>
                        <li>Se replica todas las barras de menú en la parte superior de cada pantalla de detalles de prospecto y contrato</li>
                        <li>Se cambia todo el detalle de colores a verde</li>
                        <li>se agregan los fondos empresariales.</li>
                        <li>Se cambia el color de las barras a negro</li>
                        <li>Se permite cargar un pago no convencional el mismo día</li>
                        <li>Se hace homogéneo el título de las referencias de pago</li>
                        <li>Se cambia el nombre del PDF a Guía de pago</li>
                    </ul>

                    <h4>0.1.9.59 (2019-07-18)</h4>
                    <h5>BugFixes:</h5>
                    <ul>
                        <li>Se elimina la alerta del CAC</li>
                        <li>Se reorganiza el CAC</li>
                        <li>
                            Se corrige el nombre del correo para el plan KIA.
                        </li>
                    </ul>

                    <h4>0.1.9.58 (2019-07-18)</h4>
                    <h5>BugFixes:</h5>
                    <ul>
                        <li>Ajuste pantalla de errores.</li>
                        <li>Ajuste de búsqueda de prospectos para evitar datos huérfanos.</li>
                    </ul>

                    <h4>0.1.9.57 (2019-07-17)</h4>
                    <h5>Feature</h5>
                    <ul>
                        <li>Edición de usuarios.</li>
                        <li>Modelo de cara a cara en el prospecto.</li>
                    </ul>

                    <h4>0.1.9.50 (2019-07-13)</h4>
                    <h5>Feature</h5>
                    <ul>
                        <li>Correos modelo de correo Kia Plan</li>
                    </ul>

                    <h4>0.1.9.48 (2019-07-05)</h4>
                    <h5>Feature</h5>
                    <ul>
                        <li>Advertencia visual si el cliente no gana más de la cuota inicial</li>
                        <li>Auditoria generalizada en toda la aplicación.</li>
                        <li>Reconstrucción de la UIX del contrato.</li>
                    </ul>

                    <h4>0.1.9.44 (2019-06-26)</h4>
                    <h5>Feature:</h5>
                    <ul>
                        <li>Restructuración  de toda la interfaz con los colores y la marca correcta.</li>
                        <li>Restructuración esttructural de la presentación visual de la información</li>
                    </ul>


                    <h4>0.1.9.39 (2019-06-20)</h4>
                    <h5>Feature:</h5>
                    <ul>
                        <li>Alerta cuando el cierre coemrcial no está asignado en la plataforma.</li>
                    </ul>


                    <h4>0.1.9.27 (2019-05-30)</h4>
                    <h5>Feature:</h5>
                    <h5>Duplicidad de datos del prospecto</h5>
                    <ul>
                        <li>Al salvar el prospecto se valida que:</li>
                        <li style="list-style:none;">
                            <ul>
                                <li>Número de documento no sea igual a cero.</li>
                                <li>Número de documento no haya sido registrado previamente.</li>
                                <li>Correo electrónico no haya sido registrado previamente.</li>
                            </ul>
                        </li>
                        <li>
                            Al cargar la vista de creación de prospectos, se limpian todos los campos de textos, y se vacían
                            todos los campos de selección múltiple, de forma tal que falle la validación del formulario y haya que
                            rellenar todos los campos nuevamente, evitando así duplicidad de datos o reenvío del DOM lleno.
                        </li>
                    </ul>

                    <h4>0.1.9.26 (2019-05-28)</h4>
                    <h5>BugFix:</h5>
                    <ul>
                        <li>Se bloquea el elemento de selección simple para los asesores, solo puedan seleccionarse a si mismos.</li>
                    </ul>

                    <h4>0.1.9.25 (2019-05-27)</h4>
                    <h5>BugFix:</h5>
                    <ul>
                        <li>Se bloquea el elemento de selección simple para los asesores, solo puedan seleccionarse a si mismos.</li>
                    </ul>

                    <h4>0.1.9.23 (2019-04-16)</h4>
                    <h5>Feature:</h5>
                    <ul>
                        <li>Reporte legal</li>
                        <li>Separation of Concerns para todos los archivos de JS.</li>
                    </ul>
                    <h5>BugFix:</h5>
                    <ul>
                        <li>Corrección del botón de actualizar la vista de detalles.</li>
                        <li>Corrección de la etiqueta de creación y registro de contrato nuevo, cambiando el verbo a Diligenciar.</li>
                    </ul>

                    <h4>0.1.9.16 (2019-04-12)</h4>
                    <h5>Feature:</h5>
                    <ul>
                        <li>El campo de correo se hace solo lectura para evitar que el autocompletar de google chrome lo modifique.</li>
                    </ul>

                    <h4>0.1.9.15 (2019-04-11)</h4>
                    <h5>Feature:</h5>
                    <ul>
                        <li>Se limita el valor del abono y la generación referencia al saldo restante.</li>
                    </ul>


                    <hr />
                    <h4>0.1.9.14 (2019-04-09)</h4>
                    <h5>Minor Bugfixes</h5>
                    <ul>
                        <li>Reconstrucción del botón de actualización de estado del contrato.</li>
                        <li>Texto de la confirmación de recepción de ampliado siendo más específico.</li>
                        <li>Corrección de validación en la edición del prospecto.</li>
                        <li>Corrección de redireccionamiento al editar un prospecto desde la búsqueda discriminada.</li>
                        <li>Se oculta la emisión de recibos una vez pagado en su totalidad.</li>
                    </ul>

                    <hr />
                    <h4>V-0.1.9.12 (2019-04-08)</h4>
                    <h5>Feature:</h5>
                    <ul>
                        <li>Unicidad de número de cédula a nivel de prospectos.</li>
                    </ul>

                    <hr />
                    <h4>V-0.1.9.13 (2019-04-08)</h4>
                    <h5>BugFixes:</h5>
                    <ul>
                        <li>Corrección del botón de reenvío de condiciones del contrato.</li>
                    </ul>


                    <hr />
                    <h4>V-0.1.9.12 (2019-04-08)</h4>
                    <h5>BugFixes:</h5>
                    <ul>
                        <li>Unicidad de número de cédula a nivel de prospectos.</li>
                    </ul>

                    <hr />
                    <h4>V-0.1.9.11 (2019-04-08)</h4>
                    <h5>BugFixes:</h5>
                    <ul>
                        <li>
                            Límite de acceso para la lógica matemática que redirecciona en caso de:
                            <ul>
                                <li>
                                    Intentar generar un contrato sin que el prospecto tenga la confirmación
                                    de tratamiento de datos.
                                </li>
                                <li>
                                    Intentar generar un contrato sin que el último esté debidamente pagado y
                                    registrado en el Siicon.
                                </li>
                                <li>
                                    Validar que al intentar generar un contrato, este sea el primero, si no lo es, validar que el
                                    último contrato registrado se encuentre cerrado (pagado, registrado en Siicon).
                                </li>
                            </ul>
                        </li>
                        <li>Se agrega el estado del contrato en la vista de detalle del prospecto.</li>
                        <li>
                            Se agrega el estado de la confirmación de recepción del contrato en la vista de
                            detalle del contrato.
                        </li>
                    </ul>
                    <h5>Feature:</h5>
                    <ul>
                        <li>
                            Los recibos emiten ahora dos referencias, una específica para Bancolombia y otra para el resto
                            de los medios de pago.
                        </li>
                        <li>Actualización de arte: toda la tipografía se convierte a Lato (Regular y Bold, normal y oblicua)</li>
                    </ul>
                    <hr />
                    <h4>V-0.1.9.10 (2019-04-05)</h4>
                    <h5>Bugfixes:</h5>
                    <ul>
                        <li>Limitación y comprobación de registro de pagos manuales a valores repetidos.</li>
                        <li>Limitación a tamaño de la cédula.</li>
                        <li>Conversión automática a 0 en los campos correspondientes al ingreso y egreso.</li>
                        <li>Limitación de creación y registro de contratos nuevos, mientras el último contrato no esté pagado y registrado en Siicon.</li>
                        <li>Limitación de generación o envío por correo del contrato mientras el contrato no haya sido registrado en Siicon.</li>
                    </ul>

                    <hr />
                    <h4>V-0.1.9.9 (2019-03-18)</h4>
                    <h5>Bugfixes:</h5>
                    <ul>
                        <li>Corrección de PDF.</li>
                        <li>FREEZEE.</li>
                    </ul>

                    <hr />
                    <h4>V-0.1.9.7 (2019-03-11)</h4>
                    <h5>Features:</h5>
                    <ul>
                        <li>Registro de pagos automatizados de tu compra.</li>
                        <li>Actualización del modelo de datos</li>
                    </ul>

                    <hr />
                    <h4>V-0.1.8.81 (2019-03-08)</h4>
                    <h5>Minor bug fixes:</h5>
                    <ul>
                        <li>Limpieza en cascada del formulario de la liquidación.</li>

                        <li>
                            Actualización de la vista de detalle y la vista de indexación del contrato, conteniendo
                            datos extra, la definición de las ciudades y departamentos, y el estado del contrato como tal.
                        </li>
                        <li>
                            Actualización de vista resumen con los pagos manuales, automáticos y bancarios, realizando la sumatoria
                            en cada caso individual.
                        </li>
                        <li>
                            Modificación de las reglas de validación: no se pueden tener dos contratos abiertos al mismo tiempo
                            hasta que el último de ellos no haya terminado la validación y se encuentre en estado cerrado.
                        </li>
                        <li>Un prospecto puede tener tantos contratos como sea posible.</li>
                        <li>Limitación de las reglas de validación y continuación del contrato.</li>
                        <li>Modificación de forma de los PDFs.</li>
                        <li>Inclusión de generación de pagos para promociones.</li>
                        <li>Registro ordenado de los pagos manuales directamente con el contrato completo.</li>
                    </ul>

                    <hr />
                    <h4>V-0.1.8.80 (2019-02-18)</h4>
                    <h5>Minor bug fixes:</h5>
                    <ul>
                        <li>Actualización de scripts de Framework.</li>
                        <li>Actualización de modelos de datos.</li>
                    </ul>

                    <hr />
                    <h4>V-0.1.8.76 (2019-02-01)</h4>
                    <h5>Bugfixes:</h5>
                    <ul>
                        <li>Una vez aceptadas las condiciones del contrato, el contrato se registra en cierre comercial automáticamente.</li>
                        <li>Registro de pagos manuales no convencionales.</li>
                        <li>Cambio de las reglas de validación.</li>
                        <li>Inclusión de la validación de asesor en el momento del registro.</li>
                        <li>Inclusión de bloqueo de edición basado en el estado del contrato.</li>
                        <li>El documento de identidad solo puede ser una imagen, se refuerza el tipo de archivo y el tipo del MIME/TYPE</li>
                        <li>Se remueve temporalmente el código de barras mientras se hacen las pruebas.</li>
                        <li>Se agregan propiedades diferentes en el detalle y la búsqueda.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
