@using Microsoft.AspNetCore.Identity
@using ContratoDigital.Areas.Identity.Data
@inject SignInManager<ContratoDigitalUser> SignInManager
@inject UserManager<ContratoDigitalUser> UserManager


@{
    ViewData["Title"] = "Inicio";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div style="background: url('../../../../images/background/scooter.jpg') no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;min-height: 20rem;">
                <h1 class="text-white text-center text-shadow" data-aos="fade-in" data-aos-delay="500" style="max-width: 50%;position:absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);">
                    @{ 
                        //var userID = UserManager.GetUserId(User);
                        var user = UserManager.Users.SingleOrDefault(x => x.Id == UserManager.GetUserId(User));
                        Write("Bienvenido " + user.Nombre + " " + user.Apellido);
                    }
                </h1>
            </div>
        </div>
    </div>    
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 mt-2">
            <div class="polymer-box text-center p-4">
                <a href="@Url.Action("Create", "Prospectos")">
                    <h4><i class="far fa-address-card"></i> Registrar un prospecto</h4>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 mt-2">
            <div class="polymer-box text-center p-4">
                <a href="@Url.Action("Find", "Prospectos")">
                    <h4><i class="fas fa-search"></i> Consultar prospectos</h4>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 mt-2">
            <div class="polymer-box text-center p-4">
                <a href="@Url.Action("Find", "ContratoDigital")">
                    <h4><i class="fas fa-search"></i> Buscar contrato</h4>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 mt-2">
            <div class="polymer-box text-center p-4">
                <a href="@Url.Action("CargaMasiva", "Prospectos")">
                    <h4><i class="far fa-file-alt"></i> Carga masiva</h4>
                </a>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Noticias y Notificaciones
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="polymer-box">
                                <h4>No hay noticias disponibles</h4>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                </div>                
            </div>

            
        </div>
        
    </div>
</div>
