
@{
    ViewData["Title"] = "ReporteLegal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container">
    <div class="row">
        <div class="col-12">
            <div style="background: url('../../../../images/background/justice.jpg') no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;min-height: 20rem;">
                <h1 class="text-white text-center text-shadow" data-aos="fade-in" data-aos-delay="500" style="max-width: 50%;position:absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);">
                    Reporte legal
                </h1>
            </div>
        </div>
    </div>
</section>

<section class="container mt-3">
    <div class="row">
        <div class="col-12 error-area"></div>
        <div class="col-12">
            <form class="legalReportValidation bootstrapValidation">
                <div class="card">
                    <div class="card-body">
                        <p>Introduzca el número de cédula o el número de contrato.</p>
                        <div class="form-group mt-2 mb-2">
                            <input class="form-control form-control-lg  text-uppercase" type="text" id="numero" name="numero" placeholder="Número de contrato o número de cédula" required  autocomplete="off">
                            <button class="btn btn-azul btn-lg mt-2 submitButton">Consultar</button>
                        </div>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
    <div class="row" id="reportBody"></div>
</section>

@section Scripts
{

    <script>      

        jQuery(function ($)
        {
            $(".legalReportValidation").validate({
        rules: {
            
            numero: {
                required: true,
                number: true,
                maxlength: 15
            }            
        },
        messages: {            
            numero: {
                required: "Este campo es requerido",
                number: "Este campo debe ser numérico",
                maxlength: "Máximo 15 caracteres"
            }
        },
        submitHandler: function (form) {
            $(".submitbutton").attr("disabled", true);
            //Begin Ajax Call
            /*$.ajax({
                type: "GET",
                url: "/api/Freyja/GetReporteContratos/",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    try {

                        var resultContent = $('#resultadosGenerales');
                        resultContent.empty();

                       

                    } catch (e) {
                        $('.error-area').html('<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                            '<strong>¡Ha Ocurrido un error! Inténtelo nuevamente</strong>' +
                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                            '<span aria-hidden="true">&times;</span>' +
                            '</button>' +
                            '</div >');
                        $(this).addClass('fa-spin');
                    }
                },
                failure: function (data) {
                    $('.error-area').html('<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                        '<strong>¡Ha Ocurrido un error! Inténtelo nuevamente</strong>' +
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                        '<span aria-hidden="true">&times;</span>' +
                        '</button>' +
                        '</div >');
                    $(this).removeClass('fa-spin');
                },
                error: function (data) {
                    $('.error-area').html('<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                        '<strong>¡Ha Ocurrido un error! Inténtelo nuevamente</strong>' +
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                        '<span aria-hidden="true">&times;</span>' +
                        '</button>' +
                        '</div >');
                    $(this).removeClass('fa-spin');
                }
            }); */
            //End Ajax Call


        }

    });


            
        });
    </script>


}
