
@{
    ViewData["Title"] = "RegisterSiicon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RegisterSiicon</h2>

<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @ViewData["ResultWS"]
            </div>
        </div>
    </div>
</div>

