@{
    Random rnd = new Random();
    var contrato = rnd.Next(8000000, 8999999);
    ViewData["Title"] = "Yamaha Motomas";
    Layout = "~/Views/Shared/_LayoutYamahaMotoMas.cshtml";
    
}


<div class="container">
    <div class="row">
        <div class="col text-center">

            

        </div>
    </div>
</div>
<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-12">
            <form method="post" class="needs-validation">
                <div class="form-row text-center">
                    <div class="col-12 col-sm-12 col-md-4 ">
                        <img src="~/images/logo_moto_mas.png" alt="Yamaha MotoMas" class="img-fluid mx-auto" style="max-width:15rem;" />
                        

                    </div>
                    <div class="col-12 col-sm-12 col-md-4 ">
                        <h1>Contrato Digital</h1>
                        <h5>Hoja de datos del contrato de adhesión</h5>
                    </div>
                        <div class="col-12 col-sm-12 col-md-4">
                            <label for="numero_de_contrato">Número de contrato</label>
                            <input type="text" id="numero_de_contrato" name="numero_de_contrato" readonly class="text-center form-control-plaintext form-control-lg yamaha font-weight-bold t-3" value="@contrato" required />
                        </div>
                    </div>
                    <!--#region suscriptor-->
                    <section>
                        <div class="form-row">
                            <div class="col">
                                <div class="bg-yamaha p-3 mb-2 text-white text-center">
                                    <h5 class="mb-0">Datos del suscriptor</h5>
                                </div>
                            </div>
                        </div>
                        <div class="form-row mt-4">
                            <div class="col-12">
                                <label for="nombre_suscriptor">Nombre (nombre completo o razón social)</label>
                                <input type="text" id="nombre_suscriptor" name="nombre_suscriptor" class="form-control form-control-lg" placeholder="Nombre (nombre completo o razón social)" required>
                            </div>
                        </div>
                        <div class="form-row mt-4">
                            <div class="col">
                                <label for="tipo_identificacion_suscriptor">Tipo de documento de identidad</label>
                                <select class="form-control form-control-lg" id="tipo_identificacion_suscriptor" name="tipo_identificacion_suscriptor" required>
                                    <option value="">Seleccione un tipo</option>
                                    <option value="CC">CC</option>
                                    <option value="CE">CE</option>
                                    <option value="NIT">NIT</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="documento_identidad_suscriptor">Número de documento de identidad</label>
                                <input type="text" class="form-control form-control-lg" placeholder="ie: 10000000" id="documento_identidad_suscriptor" name="documento_identidad_suscriptor" required />
                            </div>
                            <div class="col">
                                <label for="procedencia_documento_identidad_suscriptor">De:</label>
                                <input type="text" class="form-control form-control-lg" id="procedencia_documento_identidad_suscriptor" name="procedencia_documento_identidad_suscriptor" required />
                            </div>
                        </div>
                    </section>
                    <!--#endregion-->
                    <!--#region representate legal suscriptor-->
                    <section class="d-none" id="RepreentanteLegalSection">
                        <div class="card mt-4 border-yamaha ">
                            <div class="card-header text-white bg-yamaha">
                                Representante legal suscriptor
                            </div>
                            <div class="card-body">
                                <div class="form-row mt-1">
                                    <div class="col-12">
                                        <label for="nombre_razon_social_representante_legal">Nombre representante legal (solo personas jurídicas)</label>
                                        <input type="text" class="form-control form-control-lg" id="nombre_razon_social_representante_legal" name="nombre_razon_social_representante_legal" placeholder="Nombre representante legal (solo personas jurídicas)" />
                                    </div>
                                </div>
                                <div class="form-row mt-4">
                                    <div class="col">
                                        <label for="tipo_documento_representante_legal">Tipo de documento representante legal</label>
                                        <select class="form-control form-control-lg" id="tipo_documento_representante_legal" name="tipo_documento_representante_legal">
                                            <option value="CC">CC</option>
                                            <option value="CE">CE</option>
                                            <option value="NIT">NIT</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label for="documento_identidad_representante_legal">Número de documento representate legal</label>
                                        <input type="text" class="form-control form-control-lg" placeholder="ie: 10000000" id="documento_identidad_representante_legal" name="documento_identidad_representante_legal" />
                                    </div>
                                    <div class="col">
                                        <label for="procedencia_documento_identidad_representante_legal">De:</label>
                                        <input type="text" class="form-control form-control-lg" id="procedencia_documento_identidad_representante_legal" name="procedencia_documento_identidad_representante_legal" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!--#endregion-->
                    <!--#region datos del sucriptor-->

                    <section>
                        <div class="form-row mt-4">
                            <div class="col">
                                <label for="fecha_nacimiento_suscriptor">Fecha de nacimiento</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="fecha_nacimiento_suscriptor_addon"><i class="far fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="text" id="fecha_nacimiento_suscriptor" name="fecha_nacimiento_suscriptor" class="form-control form-control-lg" placeholder="ej: @DateTime.Today.ToString("yyyy-MM-dd")" aria-label="fecha_nacimiento_suscriptor" aria-describedby="fecha_nacimiento_suscriptor" required />
                                </div>

                            </div>
                            <div class="col">
                                <label for="lugar_nacimiento_suscriptor">Lugar de nacimiento</label>
                                <input type="text" id="lugar_nacimiento_suscriptor" name="lugar_nacimiento_suscriptor" class="form-control form-control-lg" required />
                            </div>
                            <div class="col">
                                <label for="sexo_suscriptor">Sexo</label>
                                <select class="form-control form-control-lg" id="sexo_suscriptor" name="sexo_suscriptor" required>
                                    <option value="">Seleccione una opción</option>
                                    <option value="femenino">Femenino</option>
                                    <option value="masculina">Masculino</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="estado_civil_suscriptor">Estado civil</label>
                                <select class="form-control form-control-lg" id="estado_civil_suscriptor" name="estado_civil_suscriptor" required>
                                    <option value="">Seleccione una opción</option>
                                    <option value="soltero">Soltero</option>
                                    <option value="casado">Casado</option>
                                    <option value="unionmarital">Unión Marital</option>
                                    <option value="divorciado">Divorciado</option>
                                    <option value="viudo">Viudo</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row mt-4">
                            <div class="col">
                                <label for="direccion_domicilio_suscriptor">Dirección domicilio</label>
                                <input type="text" class="form-control form-control-lg" id="direccion_domicilio_suscriptor" name="direccion_domicilio_suscriptor" required />
                            </div>
                        </div>

                        <div class="form-row mt-4">
                            <div class="col">
                                <label for="pais_suscriptor">País</label>
                                <input type="text" class="form-control-lg form-control-plaintext" readonly value="Colombia" id="pais_suscriptor" name="pais_suscriptor" />
                            </div>
                            <div class="col">
                                <label for="departamento_suscriptor">Departamento</label>
                                <select class="form-control form-control-lg" id="departamento_suscriptor" name="departamento_suscriptor" required>
                                    <option value="">Seleccione un departamento</option>
                                    <option value="amazonas">Amazonas</option>
                                    <option value="antioquia">Antioquia</option>
                                    <option value="arauca">Arauca</option>
                                    <option value="atlantico">Atlántico</option>
                                    <option value="bogota">Bogotá</option>
                                    <option value="bolivar">Bolívar</option>
                                    <option value="boyaca">Boyacá</option>
                                    <option value="caldas">Caldas</option>
                                    <option value="caqueta">Caquetá</option>
                                    <option value="casanare">Casanare</option>
                                    <option value="cauca">Cauca</option>
                                    <option value="cesar">Cesar</option>
                                    <option value="choco">Chocó</option>
                                    <option value="cordoba">Córdoba</option>
                                    <option value="cundinamarca">Cundinamarca</option>
                                    <option value="guainia">Guainía</option>
                                    <option value="guaviare">Guaviare</option>
                                    <option value="huila">Huila</option>
                                    <option value="la_guajira">La Guajira</option>
                                    <option value="magdalena">Magdalena</option>
                                    <option value="meta">Meta</option>
                                    <option value="narino">Nariño</option>
                                    <option value="norde_de_santander">Norte de Satander</option>
                                    <option value="putumayo">Putumayo</option>
                                    <option value="quindio">Quindío</option>
                                    <option value="risaralda">Risaralda</option>
                                    <option value="san_andres_y_providencia">San Andrés y Providencia</option>
                                    <option value="santander">Santander</option>
                                    <option value="sucre">Sucre</option>
                                    <option value="tolima">Tolima</option>
                                    <option value="valle_del_cauca">Valle del Cauca</option>
                                    <option value="vaupes">Vaupés</option>
                                    <option value="vichada">Vichada</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="ciudad_suscriptor">Ciudad</label>
                                <input type="text" class="form-control form-control-lg" id="ciudad_suscriptor" name="ciudad_suscriptor" required />
                            </div>
                        </div>

                        <div class="form-row mt-4">
                            <div class="col">
                                <label for="telefono_suscriptor">Teléfono</label>
                                <!--<input type="tel" pattern="^\+57(\s+)?\(?(17|25|29|33|44)\)?(\s+)?[0-9]{3}-?[0-9]{2}-?[0-9]{2}$" class="form-control form-control-lg" id="telefono_suscriptor" name="telefono_suscriptor" />-->
                                <input type="tel" class="form-control form-control-lg" id="telefono_suscriptor" name="telefono_suscriptor" required />
                            </div>
                            <div class="col">
                                <label for="celular_suscriptor">Celular/Móvil</label>
                                <input type="tel" class="form-control form-control-lg" id="celular_suscriptor" name="celular_suscriptor" required />
                            </div>
                        </div>

                        <div class="form-row mt-4 mb-2">
                            <div class="col">
                                <div class="bg-yamaha p-1 mb-2 text-white text-center">
                                    <h5 class="mb-0 t-1">Datos laborales del suscriptor</h5>
                                </div>
                            </div>
                        </div>

                        <div class="form-row mt-4">
                            <div class="col">
                                <label for="empresa_empleadora_suscriptor">Empresa donde labora</label>
                                <input type="text" class="form-control form-control-lg" id="empresa_empleadora_suscriptor" name="empresa_empleadora_suscriptor" required />
                            </div>
                            <div class="col">
                                <label for="cargo_suscriptor">Cargo</label>
                                <input type="text" class="form-control form-control-lg" name="cargo_suscriptor" id="cargo_suscriptor" required />
                            </div>
                        </div>

                        <div class="form-row mt-4">
                            <div class="col">
                                <label for="ingresos_mensuales_suscriptor">Ingresos mensuales</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inresos_en_pesos_addon">$</span>
                                    </div>
                                    <input type="text" class="form-control form-control-lg" aria-label="ingresos_mensuales_suscriptor" aria-describedby="inresos_en_pesos_addon" id="ingresos_mensuales_suscriptor" name="ingresos_mensuales_suscriptor" placeholder="0.00" required />
                                </div>
                            </div>
                            <div class="col">
                                <label for="egresos_mensuales_suscriptor">Egresos mensuales</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="egresos_en_pesos_addon">$</span>
                                    </div>
                                    <input type="text" class="form-control form-control-lg" aria-label="egresos_mensuales_suscriptor" aria-describedby="egresos_en_pesos_addon" id="egresos_mensuales_suscriptor" name="egresos_mensuales_suscriptor" placeholder="0.00" required />
                                </div>
                            </div>
                            <div class="col">
                                <label for="otros_ingresos_suscriptor">Otros ingresos</label>
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text" id="otros_ingresos_en_pesos_addon">$</span>
                                    </span>
                                    <input type="text" class="form-control form-control-lg" aria-label="otros_ingresos_suscriptor" aria-describedby="otros_ingresos_en_pesos_addon" id="otros_ingresos_suscriptor" name="otros_ingresos_suscriptor" placeholder="0.00" required />
                                </div>
                            </div>
                        </div>

                        <div class="form-row mt-4">
                            <div class="col">
                                <label for="direccion_empleo_suscriptor">Dirección oficina (laboral)</label>
                                <input type="text" class="form-control form-control-lg" id="direccion_empleo_suscriptor" name="direccion_empleo_suscriptor" required />
                            </div>
                        </div>

                        <div class="form-row mt-4">
                            <div class="col">
                                <label for="pais_laboral_suscriptor">País</label>
                                <input type="text" class="form-control-lg form-control-plaintext" id="pais_laboral_suscriptor" name="pais_laboral_suscriptor" readonly value="Colombia" />
                            </div>
                            <div class="col">
                                <label for="departamento_empleo_suscriptor">Departamento</label>
                                <select class="form-control form-control-lg" id="departamento_empleo_suscriptor" name="departamento_empleo_suscriptor" required>
                                    <option value="">Seleccione un departamento</option>
                                    <option value="amazonas">Amazonas</option>
                                    <option value="antioquia">Antioquia</option>
                                    <option value="arauca">Arauca</option>
                                    <option value="atlantico">Atlántico</option>
                                    <option value="bogota">Bogotá</option>
                                    <option value="bolivar">Bolívar</option>
                                    <option value="boyaca">Boyacá</option>
                                    <option value="caldas">Caldas</option>
                                    <option value="caqueta">Caquetá</option>
                                    <option value="casanare">Casanare</option>
                                    <option value="cauca">Cauca</option>
                                    <option value="cesar">Cesar</option>
                                    <option value="choco">Chocó</option>
                                    <option value="cordoba">Córdoba</option>
                                    <option value="cundinamarca">Cundinamarca</option>
                                    <option value="guainia">Guainía</option>
                                    <option value="guaviare">Guaviare</option>
                                    <option value="huila">Huila</option>
                                    <option value="la_guajira">La Guajira</option>
                                    <option value="magdalena">Magdalena</option>
                                    <option value="meta">Meta</option>
                                    <option value="narino">Nariño</option>
                                    <option value="norde_de_santander">Norte de Satander</option>
                                    <option value="putumayo">Putumayo</option>
                                    <option value="quindio">Quindío</option>
                                    <option value="risaralda">Risaralda</option>
                                    <option value="san_andres_y_providencia">San Andrés y Providencia</option>
                                    <option value="santander">Santander</option>
                                    <option value="sucre">Sucre</option>
                                    <option value="tolima">Tolima</option>
                                    <option value="valle_del_cauca">Valle del Cauca</option>
                                    <option value="vaupes">Vaupés</option>
                                    <option value="vichada">Vichada</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="ciudad_empleo_suscriptor">Ciudad</label>
                                <input type="text" class="form-control form-control-lg" id="ciudad_empleo_suscriptor" name="ciudad_empleo_suscriptor" required />
                            </div>
                        </div>

                        <div class="form-row mt-4">
                            <div class="col">
                                <label for="telefono_empleo_suscriptor">Teléfono</label>
                                <input type="tel" class="form-control form-control-lg" id="telefono_empleo_suscriptor" name="telefono_empleo_suscriptor" />
                            </div>
                            <div class="col">
                                <label for="celular_empleo_suscriptor">Celular/Móvil</label>
                                <input type="tel" class="form-control form-control-lg" id="celular_empleo_suscriptor" name="celular_empleo_suscriptor" />
                            </div>
                        </div>

                        <div class="form-row mt-4">
                            <div class="col">
                                <label for="profesion_suscriptor">Profesión o actividad económica</label>
                                <input type="text" class="form-control form-control-lg" id="profesion_suscriptor" name="profesion_suscriptor" required />
                            </div>
                            <div class="col">
                                <label for="envio_correspondencia_suscriptor">Envío de correspondencia</label>
                                <select class="form-control form-control-lg" id="envio_correspondencia_suscriptor" name="envio_correspondencia_suscriptor" required>
                                    <option value="">Seleccione una opción</option>
                                    <option value="domicilio">Domicilio</option>
                                    <option value="oficina">Oficina</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="email_suscriptor">Correo electrónico</label>
                                <input type="email" class="form-control form-control-lg" id="email_suscriptor" name="email_suscriptor" required />
                            </div>
                        </div>
                    </section>
                    <!--#endregion-->

                    <div class="form-row mt-2">
                        <div class="col">
                            <a class="btn btn-yamaha text-white" id="isSuscriptorConjunto"><i class="fas fa-plus"></i> Agregar suscriptor conjunto</a>
                        </div>
                    </div>

                    <section class="d-none" id="SuscriptorConjuntoSection">

                        <!--#region suscriptor conjunto-->
                        <section>
                            <div class="form-row mt-4 mb-2">
                                <div class="col">
                                    <div class="bg-yamaha p-3 mb-2 text-white text-center">
                                        <h5 class="mb-0">Datos del suscriptor conjunto</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row mt-4">
                                <div class="col">
                                    <label for="nombre_suscriptor_conjunto">Nombre (apellidos y nombres o razón social si aplica)</label>
                                    <input type="text" class="form-control form-control-lg" id="nombre_suscriptor_conjunto" name="nombre_suscriptor_conjunto" />
                                </div>
                            </div>
                            <div class="form-row mt-4">
                                <div class="col">
                                    <label for="tipo_identidad_suscriptor_conjunto">Tipo de documento de identidad</label>
                                    <select class="form-control form-control-lg" id="tipo_identidad_suscriptor_conjunto" name="tipo_identidad_suscriptor_conjunto">
                                        <option value="CC">CC</option>
                                        <option value="CE">CE</option>
                                        <option value="NIT">NIT</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="documento_identidad_suscriptor_conjunto">Número documento identidad</label>
                                    <input type="text" class="form-control form-control-lg" id="documento_identidad_suscriptor_conjunto" name="documento_identidad_suscriptor_conjunto" />
                                </div>
                                <div class="col">
                                    <label for="procedencia_documento_identidad_suscriptor_conjunto">De: </label>
                                    <input type="text" class="form-control form-control-lg" id="procedencia_documento_identidad_suscriptor_conjunto" name="procedencia_documento_identidad_suscriptor_conjunto" />
                                </div>
                            </div>
                        </section>
                        <!--#endregion-->
                        <!--#region representante legal suscriptor conjunto-->
                        <section class="d-none" id="RepresentanteLegalConjuntoSection">
                            <div class="card mt-4 border-yamaha ">
                                <div class="card-header text-white bg-yamaha">
                                    Representante legal suscriptor conjunto
                                </div>
                                <div class="card-body">

                                    <div class="form-row mt-4">
                                        <div class="col">
                                            <label for="representante_legal_suscriptor_conjunto">Nombre representante legal (solo personas jurídicas)</label>
                                            <input type="text" class="form-control form-control-lg" id="representante_legal_suscriptor_conjunto" name="representante_legal_suscriptor_conjunto" />
                                        </div>
                                    </div>

                                    <div class="form-row mt-4">
                                        <div class="col">
                                            <label for="tipo_identidad_representante_legal_suscriptor_conjunto">Tipo de documento de identidad</label>
                                            <select id="tipo_identidad_representante_legal_suscriptor_conjunto" name="tipo_identidad_representante_legal_suscriptor_conjunto" class="form-control form-control-lg">
                                                <option value="CC">CC</option>
                                                <option value="CE">CE</option>
                                                <option value="NIT">NIT</option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <label for="documento_identidad_representante_legal_suscriptor_conjunto">Número de documento identidad</label>
                                            <input type="text" id="documento_identidad_representante_legal_suscriptor_conjunto" name="documento_identidad_representante_legal_suscriptor_conjunto" class="form-control form-control-lg" />
                                        </div>
                                        <div class="col">
                                            <label for="procedencia_identificacion_representante_legal_suscriptor_conjunto">De:</label>
                                            <input type="text" id="procedencia_identificacion_representante_legal_suscriptor_conjunto" name="procedencia_identificacion_representante_legal_suscriptor_conjunto" class="form-control form-control-lg" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </section>

                        <!--#endregion-->
                        <!--#region Datos del suscriptor conjunto-->
                        <section>
                            <div class="form-row mt-4">
                                <div class="col">
                                    <label for="fecha_nacimiento_suscriptor_conjunto">Fecha de nacimiento</label>
                                    <input class="form-control form-control-lg" id="fecha_nacimiento_suscriptor_conjunto" name="fecha_nacimiento_suscriptor_conjunto" />
                                </div>
                                <div class="col">
                                    <label for="lugar_nacimiento_suscriptor_conjunto">Lugar</label>
                                    <input type="text" id="lugar_nacimiento_suscriptor_conjunto" name="lugar_nacimiento_suscriptor_conjunto" class="form-control form-control-lg" />
                                </div>
                                <div class="col">
                                    <label for="sexo_suscriptor_conjunto">Sexo</label>
                                    <select class="form-control form-control-lg" id="sexo_suscriptor_conjunto" name="sexo_suscriptor_conjunto">
                                        <option value="femenino">Femenino</option>
                                        <option value="masculino">Masculino</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="estado_civil_suscriptor_conjunto">Estado civil</label>
                                    <select class="form-control form-control-lg" id="estado_civil_suscriptor_conjunto" name="estado_civil_suscriptor_conjunto">
                                        <option value="soltero">Soltero</option>
                                        <option value="casado">Casado</option>
                                        <option value="unionmarital">Unión Marital</option>
                                        <option value="divorciado">Divorciado</option>
                                        <option value="soltero">soltero</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row mt-4">
                                <div class="col">
                                    <label for="dirección_suscriptor_conjunto">Dirección Domicilio</label>
                                    <input type="text" class="form-control form-control-lg" id="dirección_suscriptor_conjunto" name="dirección_suscriptor_conjunto" />
                                </div>
                            </div>
                            <div class="form-row mt-4">
                                <div class="col">
                                    <label for="departamento_suscriptor_conjunto">Departamento</label>
                                    <select class="form-control form-control-lg" id="departamento_suscriptor_conjunto" name="departamento_suscriptor_conjunto">
                                        <option value="amazonas">Amazonas</option>
                                        <option value="antioquia">Antioquia</option>
                                        <option value="arauca">Arauca</option>
                                        <option value="atlantico">Atlántico</option>
                                        <option value="bogota">Bogotá</option>
                                        <option value="bolivar">Bolívar</option>
                                        <option value="boyaca">Boyacá</option>
                                        <option value="caldas">Caldas</option>
                                        <option value="caqueta">Caquetá</option>
                                        <option value="casanare">Casanare</option>
                                        <option value="cauca">Cauca</option>
                                        <option value="cesar">Cesar</option>
                                        <option value="choco">Chocó</option>
                                        <option value="cordoba">Córdoba</option>
                                        <option value="cundinamarca">Cundinamarca</option>
                                        <option value="guainia">Guainía</option>
                                        <option value="guaviare">Guaviare</option>
                                        <option value="huila">Huila</option>
                                        <option value="la_guajira">La Guajira</option>
                                        <option value="magdalena">Magdalena</option>
                                        <option value="meta">Meta</option>
                                        <option value="narino">Nariño</option>
                                        <option value="norde_de_santander">Norte de Satander</option>
                                        <option value="putumayo">Putumayo</option>
                                        <option value="quindio">Quindío</option>
                                        <option value="risaralda">Risaralda</option>
                                        <option value="san_andres_y_providencia">San Andrés y Providencia</option>
                                        <option value="santander">Santander</option>
                                        <option value="sucre">Sucre</option>
                                        <option value="tolima">Tolima</option>
                                        <option value="valle_del_cauca">Valle del Cauca</option>
                                        <option value="vaupes">Vaupés</option>
                                        <option value="vichada">Vichada</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="ciudad_suscriptor_conjunto">Ciudad</label>
                                    <input type="text" class="form-control form-control-lg" id="ciudad_suscriptor_conjunto" name="ciudad_suscriptor_conjunto" />
                                </div>
                            </div>
                            <div class="form-row mt-4">
                                <div class="col">
                                    <label for="telefono_suscriptor_conjunto">Teléfono</label>
                                    <input type="text" class="form-control form-control-lg" id="telefono_suscriptor_conjunto" name="telefono_suscriptor_conjunto" />
                                </div>
                                <div class="col">
                                    <label for="celular_suscriptor_conjunto">Celular</label>
                                    <input type="text" class="form-control form-control-lg" id="celular_suscriptor_conjunto" name="celular_suscriptor_conjunto" />
                                </div>
                            </div>

                            <div class="form-row mt-4">
                                <div class="col">
                                    <label for="empresa_empleadora_suscriptor_conjunto">Empresa donde labora</label>
                                    <input type="text" class="form-control form-control-lg" id="empresa_empleadora_suscriptor_conjunto" name="empresa_empleadora_suscriptor_conjunto" />
                                </div>
                                <div class="col">
                                    <label for="cargo_suscriptor_conjunto">Cargo</label>
                                    <input type="text" class="form-control form-control-lg" id="cargo_suscriptor_conjunto" name="cargo_suscriptor_conjunto" />
                                </div>
                            </div>

                            <div class="form-row mt-4">
                                <div class="col">
                                    <label for="ingresos_mensuales_suscriptor_conjunto">Ingresos mensuales</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="ingresos_en_pesos_conjunto_addon">$</span>
                                        </div>
                                        <input type="text" class="form-control form-control-lg" aria-label="ingresos_mensuales_suscriptor_conjunto" aria-describedby="ingresos_en_pesos_conjunto_addon" id="ingresos_mensuales_suscriptor_conjunto" name="ingresos_mensuales_suscriptor_conjunto" placeholder="0.00" />
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="egresos_mensuales_suscriptor_conjunto">Egresos mensuales</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="egresos_en_pesos_conjunto_addon">$</span>
                                        </div>
                                        <input type="text" class="form-control form-control-lg" aria-label="egresos_mensuales_suscriptor_conjunto" aria-describedby="egresos_en_pesos_conjunto_addon" id="egresos_mensuales_suscriptor_conjunto" name="egresos_mensuales_suscriptor_conjunto" placeholder="0.00" />
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="otros_ingresos_suscriptor_conjunto">Otros ingresos</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="otros_ingresos_suscriptor_conjunto_addon">$</span>
                                        </div>
                                        <input type="text" class="form-control form-control-lg" aria-label="otros_ingresos_suscriptor_conjunto" aria-describedby="otros_ingresos_suscriptor_conjunto_addon" id="otros_ingresos_suscriptor_conjunto" name="otros_ingresos_suscriptor_conjunto" placeholder="0.00" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-row mt-4">
                                <div class="col">
                                    <label for="direccion_empleo_suscriptor_conjunto">Dirección oficina (laboral)</label>
                                    <input type="text" class="form-control form-control-lg" id="direccion_empleo_suscriptor_conjunto" name="direccion_empleo_suscriptor_conjunto" />
                                </div>
                            </div>

                            <div class="form-row mt-4">
                                <div class="col">
                                    <label for="departamento_empleo_suscriptor_conjunto">Departamento</label>
                                    <select class="form-control form-control-lg" id="departamento_empleo_suscriptor_conjunto" name="departamento_empleo_suscriptor_conjunto">
                                        <option value="amazonas">Amazonas</option>
                                        <option value="antioquia">Antioquia</option>
                                        <option value="arauca">Arauca</option>
                                        <option value="atlantico">Atlántico</option>
                                        <option value="bogota">Bogotá</option>
                                        <option value="bolivar">Bolívar</option>
                                        <option value="boyaca">Boyacá</option>
                                        <option value="caldas">Caldas</option>
                                        <option value="caqueta">Caquetá</option>
                                        <option value="casanare">Casanare</option>
                                        <option value="cauca">Cauca</option>
                                        <option value="cesar">Cesar</option>
                                        <option value="choco">Chocó</option>
                                        <option value="cordoba">Córdoba</option>
                                        <option value="cundinamarca">Cundinamarca</option>
                                        <option value="guainia">Guainía</option>
                                        <option value="guaviare">Guaviare</option>
                                        <option value="huila">Huila</option>
                                        <option value="la_guajira">La Guajira</option>
                                        <option value="magdalena">Magdalena</option>
                                        <option value="meta">Meta</option>
                                        <option value="narino">Nariño</option>
                                        <option value="norde_de_santander">Norte de Satander</option>
                                        <option value="putumayo">Putumayo</option>
                                        <option value="quindio">Quindío</option>
                                        <option value="risaralda">Risaralda</option>
                                        <option value="san_andres_y_providencia">San Andrés y Providencia</option>
                                        <option value="santander">Santander</option>
                                        <option value="sucre">Sucre</option>
                                        <option value="tolima">Tolima</option>
                                        <option value="valle_del_cauca">Valle del Cauca</option>
                                        <option value="vaupes">Vaupés</option>
                                        <option value="vichada">Vichada</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="ciudad_empleo_suscriptor_conjunto">Ciudad</label>
                                    <input type="text" class="form-control form-control-lg" id="ciudad_empleo_suscriptor_conjunto" name="ciudad_empleo_suscriptor_conjunto" />
                                </div>
                            </div>

                            <div class="form-row mt-4">
                                <div class="col">
                                    <label for="telefono_empleo_suscriptor_conjunto">Teléfono</label>
                                    <input type="text" class="form-control form-control-lg" name="telefono_empleo_suscriptor_conjunto" id="telefono_empleo_suscriptor_conjunto" />
                                </div>
                                <div class="col">
                                    <label for="celular_empleo_suscriptor_conjunto">Celular</label>
                                    <input type="text" class="form-control form-control-lg" id="celular_empleo_suscriptor_conjunto" name="celular_empleo_suscriptor_conjunto" />
                                </div>
                            </div>


                            <div class="form-row mt-4">
                                <div class="col">
                                    <label for="profesion_suscriptor_conjunto">Profesión o actividad económica</label>
                                    <input type="text" class="form-control form-control-lg" id="profesion_suscriptor_conjunto" name="profesion_suscriptor_conjunto" />
                                </div>
                                <div class="col">
                                    <label for="correspondencia_suscriptor_conjunto">Envío de correspondencia</label>
                                    <select class="form-control form-control-lg" id="correspondencia_suscriptor_conjunto" name="correspondencia_suscriptor_conjunto">
                                        <option value="domicilio">Domicilio</option>
                                        <option value="Oficina">Oficina</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="email_suscriptor_conjunto">Correo electrónico</label>
                                    <input type="text" class="form-control form-control-lg" id="email_suscriptor_conjunto" name="email_suscriptor_conjunto" />
                                </div>
                            </div>
                        </section>
                        <!--#endregion-->

                    </section>


                    <!--#region Datos del bien-->
                    <section>
                        <div class="form-row mt-4 mb-2">
                            <div class="col">
                                <div class="bg-yamaha p-3 mb-2 text-white text-center">
                                    <h5 class="mb-0">Características del bien</h5>
                                </div>
                            </div>
                        </div>

                        <div class="form-row mt-4">
                            <div class="col">
                                <label for="tipo_de_bien">Tipo de bien</label>
                                <select class="form-control form-control-lg" id="tipo_de_bien" name="tipo_de_bien" required>
                                    <option value="">Seleccione un tipo de bien</option>
                                    <option value="motocicleta" selected="selected">Motocicleta</option>
                                    <option value="automovil">Automóvil</option>
                                    <option value="camion">Camión</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="marca_exclusiva_bien">Marca exclusiva</label>
                                <input type="text" class="form-control-plaintext form-control-lg" readonly id="marca_exclusiva_bien" name="marca_exclusiva_bien" value="YAMAHA" required />
                            </div>
                        </div>
                        <div class="form-row mt-4">
                            <div class="col">
                                <label for="detalles_bien">Detalles del bien</label>
                                <input type="text" class="form-control form-control-lg" id="detalles_bien" name="detalles_bien" />
                            </div>
                            <div class="col">
                                <label for="valor_bien">Valor del bien</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="valor_bien_addon">$</span>
                                    </div>
                                    <input type="text" class="form-control form-control-lg" aria-label="valor_bien" aria-describedby="valor_bien_addon" id="valor_bien" name="valor_bien" placeholder="0.00" />
                                </div>
                            </div>
                            <div class="col">
                                <label for="codigo_bien">Código del bien</label>
                                <input type="text" class="form-control form-control-lg" id="codigo_bien" name="codigo_bien" />
                            </div>
                        </div>
                        <div class="form-row mt-4">
                            <div class="col">
                                <label for="cuota_bien">Cuota</label>
                                <select class="form-control form-control-lg " id="cuota_bien" name="cuota_bien">
                                    <option value="">Seleccione un tipo de cuota</option>
                                    <option value="fija">Fija</option>
                                    <option value="variable">Variable</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="plazo_bien">Plazo y número de participantes</label>
                                <select class="form-control form-control-lg" id="plazo_bien" name="plazo_bien">
                                    <option value="">Seleccione un tipo de plazo</option>
                                    <option value="40-120">40/120</option>
                                    <option value="60-180">60/180</option>
                                </select>
                            </div>
                        </div>

                    </section>
                    <!--#endregion-->
                    <!--#region Pago Inicial-->
                    <section>
                        <div class="form-row mt-4 mb-2">
                            <div class="col">
                                <div class="bg-yamaha p-3 mb-2 text-white text-center">
                                    <h5 class="mb-0">Pago inicial</h5>
                                </div>
                            </div>
                        </div>

                        <div class="form-row mt-4">
                            <div class="col">
                                <span class="badge badge-yamaha">1</span>
                                <label for="cuota_ingreso">Cuota de ingreso (N% sobre el valor del bien)</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="cuota_ingreso_addon">$</span>
                                    </div>
                                    <input type="text" class="form-control form-control-lg" aria-label="cuota_ingreso" aria-describedby="cuota_ingreso_addon" id="cuota_ingreso" name="cuota_ingreso" placeholder="0.00" />
                                </div>
                            </div>

                            <div class="col">
                                <span class="badge badge-yamaha">5</span>
                                <label for="administracion">Administración (N% sobre cuota neta)</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="administracion_addon">$</span>
                                    </div>
                                    <input type="text" class="form-control form-control-lg" aria-label="administracion" aria-describedby="administracion_addon" id="administracion" name="administracion" placeholder="0.00" />
                                </div>
                            </div>
                        </div>

                        <div class="form-row mt-4">
                            <div class="col">
                                <span class="badge badge-yamaha">2</span>
                                <label for="iva_cuota_ingreso">I.V.A sobre la cuota de ingreso (N%)</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="iva_cuota_ingreso_addon">$</span>
                                    </div>
                                    <input type="text" class="form-control form-control-lg" aria-label="iva_cuota_ingreso" aria-describedby="iva_cuota_ingreso_addon" id="iva_cuota_ingreso" name="iva_cuota_ingreso" placeholder="0.00" />
                                </div>
                            </div>
                            <div class="col">
                                <span class="badge badge-yamaha">6</span>
                                <label for="iva_administracion">I.V.A sobre la administración (N%)</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="iva_administracion_addon">$</span>
                                    </div>
                                    <input type="text" class="form-control form-control-lg" aria-label="iva_administracion" aria-describedby="iva_administracion_addon" id="iva_administracion" name="iva_administracion" placeholder="0.00" />
                                </div>
                            </div>
                        </div>

                        <div class="form-row mt-4">
                            <div class="col">
                                <span class="badge badge-yamaha">3</span>
                                <label for="total_cuota_ingreso">Total cuota de ingreso (N%) ( <span class="badge badge-yamaha">1</span> + <span class="badge badge-yamaha">2</span> )</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="total_cuota_ingreso_addon">$</span>
                                    </div>
                                    <input type="text" class="form-control form-control-lg" aria-label="total_cuota_ingreso" aria-describedby="total_cuota_ingreso_addon" id="total_cuota_ingreso" name="total_cuota_ingreso" placeholder="0.00" />
                                </div>
                            </div>
                            <div class="col">
                                <span class="badge badge-yamaha">7</span>
                                <label for="total_cuota_bruta">Total cuota bruta (N%) ( <span class="badge badge-yamaha">4</span> + <span class="badge badge-yamaha">5</span> + <span class="badge badge-yamaha">6</span> )</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="total_cuota_bruta_addon">$</span>
                                    </div>
                                    <input type="text" class="form-control form-control-lg" aria-label="total_cuota_bruta" aria-describedby="total_cuota_bruta_addon" id="total_cuota_bruta" name="total_cuota_bruta" placeholder="0.00" />
                                </div>
                            </div>
                        </div>

                        <div class="form-row mt-4">
                            <div class="col">
                                <span class="badge badge-yamaha">4</span>
                                <label for="primera_cuota_neta">Primera cuota neta: (valor del bien / plazo)</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="primera_cuota_neta_addon">$</span>
                                    </div>
                                    <input type="text" class="form-control form-control-lg" aria-label="primera_cuota_neta" aria-describedby="primera_cuota_neta_addon" id="primera_cuota_neta" name="primera_cuota_neta" placeholder="0.00" />
                                </div>
                            </div>
                            <div class="col">
                                <span class="badge badge-yamaha">8</span>
                                <label for="valor_primer_pago">Valor total primer pago: ( <span class="badge badge-yamaha">3</span> + <span class="badge badge-yamaha">7</span> )</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="valor_primer_pago_addon">$</span>
                                    </div>
                                    <input type="text" class="form-control form-control-lg" aria-label="valor_primer_pago" aria-describedby="valor_primer_pago_addon" id="valor_primer_pago" name="valor_primer_pago" placeholder="0.00" />
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--#endregion-->
                    <!--#region legal-->
                    <section>
                        <div class="form-row mt-4">
                            <div class="col">

                                <div class="card">
                                    <div class="card-header bg-yamaha text-white">
                                        <label for="texto-legalese">
                                            CONTRATO DE ADHESION PARA INGRESAR AL SISTEMA DE AUTOFINANCIAMIENTO COMERCIAL, CON EL FIN DE ADQUIRIR UN BIEN O SERVICIO POR SORTEO U OFERTA.
                                        </label>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-control-plaintext h-25" id="texto-legalese" style="max-height:25rem; overflow-y:scroll">

                                            @await Html.PartialAsync("~/Views/Shared/LegaleseYamahaMotomas.cshtml")

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>
                    <!--#endregion-->

                    <div class="form-row form-check mt-4">
                        <div class="col-12">
                            <input type="checkbox" class="form-check-input" id="aceptacion_contrato" name="aceptacion_contrato" required />
                            <label class="form-check-label" for="aceptacion_contrato">He leído y acepto los terminos y condiciones del contrato de adhesión</label>
                        </div>
                        <div class="col-12">
                            <input type="checkbox" class="form-check-input" id="aceptacion_datos" name="aceptacion_datos" required />
                            <label class="form-check-label" for="aceptacion_datos">He leído y acepto los terminos y condiciones del tratado de datos</label>
                        </div>
                        <div class="col-12">
                            <input type="checkbox" class="form-check-input" id="aspectos_relevantes" name="aspectos_relevantes" required />
                            <label class="form-check-label" for="aspectos_relevantes">He leído y acepto los aspectos relevantes</label>
                        </div>
                    </div>

                    <div class="form-row mt-4">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-lg btn-yamaha">Envíar</button>
                        </div>
                    </div>

</form>
        </div>
    </div>
</div>



