<!DOCTYPE html>
<html lang="es" >
<head>
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="~/favicon.png" />
    <meta name="keywords" content="">
    <title>@ViewData["Title"] - ContratoDigital</title>

    <environment include="Development">
        <link href="https://fonts.googleapis.com/css?family=Catamaran:400,500" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous" />
        <link rel="stylesheet" href="~/lib/jqueryui/jquery-ui.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link href="https://fonts.googleapis.com/css?family=Catamaran:400,500" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
              integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-3">
                    <img src="~/images/logo_electroplan.png" alt="Electroplan" class="img-fluid" />
                </div>
                <div class="col-6 col-sm-6 col-md-3">
                    <img src="~/images/logo_moto_mas.png" alt="Yamaha Moto Mas" class="img-fluid" />
                </div>                
            </div>
            
            
        </div>
    </header>
        
        @RenderBody()
        
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-4 col-md-4">
                    <img src="~/images/logo_electroplan_blanco.png" class="img-fluid" alt="Alternate Text" />
                    <img src="~/images/logo_moto_mas_white.png" class="img-fluid" alt="Alternate Text" />
                </div>
                <div class="col-12 col-sm-4 col-md-4"></div>
                <div class="col-12 col-sm-4 col-md-4 text-white">
                    <h5>Sede principal y administrativa</h5>
                    <p>Carrera 7 no. 24-89 Torre Colpatria Piso 17<br />
                    PBX: (571) 444 1700<br />
                    Bogotá - Colombia</p>
                </div>
                <div class="col-12 text-center text-white mt-2">
                    <p>Vigilado por la superintendencia de sociedades<br/>
                    <i class="far fa-copyright"></i> Autofinanciera 1971 - @DateTime.Today.Year </p>
                </div>
            </div>
        </div>
    </footer>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery-3.3.1.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/bootstrap/dist/js/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jqueryui/jquery-ui.min.js" asp-append-version="true"></script>        
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"
                asp-fallback-src="~/lib/jquery-validation/dist/additional-methods.min.js"
                crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
                crossorigin="anonymous">
        </script>
        <script src="~/lib/jqueryui/jquery-ui.min.js" asp-append-version="true"></script>        
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
