<!DOCTYPE html>
<html lang="es" >
<head>
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta charset="utf-8" />

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="~/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="~/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="~/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="~/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="~/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="~/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="~/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="~/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="~/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="~/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="~/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="~/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="~/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="~/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="~/mstile-310x310.png" />

    <meta name="keywords" content="">
    <title>@ViewData["Title"] - Qurii</title>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/lib/jqueryui/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/AOS/aos.css" />
    <link rel="stylesheet" href="~/css/base-1.0.4.css" />
    
</head>
<body>
    @{
        int code = new Random().Next(0, 9);
        string name = "";
        switch (code)
        {
            case 0:
                name = "anotherscooter";
                break;
            case 1:
                name = "bags";
                break;
            case 2:
                name = "bikeback";
                break;
            case 3:
                name = "bogota-at-night";
                break;
            case 4:
                name = "castillogrande";
                break;
            case 5:
                name = "contract";
                break;
            case 6:
                name = "facades";
                break;
            case 7:
                name = "prospect";
                break;
            case 8:
                name = "scooter";
                break;
        }
    }
    <div style="background: url('../../../../images/background/@(Html.Raw(name)).jpg') no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;min-height: 50rem;">
        
        @RenderBody()
        
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center" style="border-bottom: solid #fff 2px;">
                    <img src="~/images/serven_white.png" class="img-fluid p-3" style="max-height:150px;" />

                </div>
            </div>
            <div class="row align-items-center  mt-4">
                <div class="col-12 col-md-3 text-center">
                    <img src="~/images/logo_autofinanciera_white.png" class="img-fluid logo-footer" alt="Autofinanciera" />
                </div>
                <div class="col-12 col-md-3 text-center">
                    <img src="~/images/superintendencia_sociedades_white.png" class="img-fluid" alt="Superintendencia de Sociedades" />
                </div>
                <div class="col-12 col-md-3 text-center">
                    <img src="~/images/logo_electroplan_blanco.png" class="img-fluid" alt="Superintendencia de Sociedades" />
                </div>

                <div class="col-12 col-sm-4 col-md-3 text-white">
                    <h5>Sede principal y administrativa</h5>
                    <p>
                        Carrera 7 no. 24-89 Torre Colpatria Piso 17<br />
                        PBX: (571) 444 1700<br />
                        Bogotá - Colombia
                    </p>
                </div>
                <div class="col-12 text-center text-white mt-2">
                    <p>
                        Vigilado por la superintendencia de sociedades<br />
                        <i class="far fa-copyright"></i> Autofinanciera 1971 - @DateTime.Today.Year
                    </p>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="~/lib/jquery/dist/jquery-3.3.1.min.js"></script>
    <script src="~/lib/jquery-validation/1.19.0/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/1.19.0/additional-methods.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js" asp-append-version="true"></script>
    <script src="~/lib/AOS/aos.js" asp-append-version="true"></script>
    <script src="~/js/base-1.0.27.js" asp-append-version="true"></script>        
    
    @RenderSection("Scripts", required: false)
</body>
</html>
