@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<section class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-danger">Error.</h1>
                    <h2 class="text-danger">Ha ocurrido un error procesando su solicitud</h2>

                    @if (Model.ShowRequestId)
                    {
                        <p>
                            <strong>Request ID:</strong> <code>@Model.RequestId</code>
                        </p>
                        <p>
                            <strong> <code>@Model.</code></strong>
                        </p>
                    }

                    <h3>Pasos a seguir para reportar el error:</h3>
                    <ul>
                        <li>Tome nota de la acción que realizó, la hora y el día.</li>
                        <li>¿Qué datos estaba intentando procesar?</li>
                        <li>Comuniquese con su área de sistemas.</li>
                        <li></li>
                        <li></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

</section>
