<p>Señor(es) Suscriptor(es), recuerde(n) leer cuidadosamente el clausulado del contrato y cada una de los siguientes numerales.</p>
<ol>
    <li>
        <p>A LA SAPAC no le está permitido la entrega de dinero, el otorgamiento de préstamos a el(los) suscriptor(es), ni la colocación de planes para adquisición de vivienda.</p>
    </li>
    <li>
        <p>EL(LOS) SUSCRIPTOR(ES) adjudicado(s) o no adjudicado(s) debe(n) realizar el pago de su(s) cuota(s) mensual(es) o abonos al plan suscrito ÚNICAMENTE en las entidades bancarias con las cuales se tiene convenio de recaudo fiduciario. En ningún caso debe(n) entregar dinero a los funcionarios de AUTOFINANCIERA S.A. o a quienes ofrezcan el plan de autofinanciamiento. LA SAPAC no se hace responsable por dineros que no se encuentren en la Fiducia.</p>
    </li>
    <li>
        <p>EL(LOS) SUSCRIPTOR(ES) que pague(n) la cuota en forma oportuna tendrá(n) derecho a participar en las Asambleas mensuales de Adjudicación.  La fecha límite de pago para participar por sorteo es de cinco (5) días hábiles antes de la correspondiente Asamblea.  El no recibir la factura o recibirla de manera extemporánea no lo(s) exime del pago de la cuota mensual prevista.</p>
    </li>
    <li>
        <p>Ningún funcionario en ninguna circunstancia se podrá comprometer a entregar o adjudicar el bien o servicio en un mes o plazo determinado, por cuanto las Adjudicaciones se realizan en las modalidades de SORTEO, OFERTA</p>
    </li>
    <li>
        <p>EL(LOS) SUSCRIPTOR(ES) se podrá(n) retractar del contrato dentro de los cinco (5) días hábiles siguientes a la firma de este.</p>
    </li>
    <li>
        <p><strong>EL (LOS) SUSCRIPTOR(ES)</strong> que decida(n) terminar el contrato después de haber participado en su primera asamblea podrá(n) ceder o traspasar su contrato a un tercero o esperar <strong>A LA FINALIZACIÒN DEL PLAZO DEL PLAN DEL CONTRATO</strong>, para la devolución de Las cuotas netas dentro del mes siguiente. La cuota de ingreso o admisión, la administración pagada y el <strong>IVA</strong> causado <strong>NO SON REEMBOLSABLES</strong>. Así mismo, si por efecto de algún proceso este origina cambio de grupo, la devolución de las cuotas netas se efectuará a la finalización del plazo del plan del último grupo asignado.</p>
    </li>
    <li>
        <p>Al momento de salir adjudicado(s), EL(LOS) SUSCRIPTOR(ES) debe(n) diligenciar los formularios de capacidad de endeudamiento, y presentar los documentos de EL(LOS) CODEUDOR(ES) y la(s) garantía(s) que la SAPAC requiera, adicionalmente en caso de encontré(n)  reportado(s) ante centrales de riesgo debe(n) presentar el(los) respectivo(s) paz y salvo(s) de la(s) obligación(es); documentos que serán estudiados previo a la legalización y entrega del BIEN.</p>
    </li>
    <li>
        <p>EL(LOS) SUSCRIPTOR(ES) se compromete(n) al momento de la entrega del BIEN o servicio a adquirir un seguro de vida y un seguro contra todo riesgo, dejando como primer beneficiario a LA SAPAC.  Estos seguros deben permanecer vigentes durante el plazo que falte para la cancelación total del plan.</p>
    </li>
    <li>
        <p>Para EL(LOS) SUSCRIPTOR(ES) adjudicado(s) o no adjudicado(s), que se vincule(n) a planes con cuota variable, es entendido que su(s) cuota(s) bruta(s) podrá(n) presentar variación(es) en la misma proporción en que varié el precio del BIEN o Servicio en el mercado.</p>
    </li>
    <li>
        <p>Acepto (amos) que la ubicación dentro de uno de los grupos me(nos) sea informada con posterioridad a la firma del presente contrato.</p>
    </li>
    <li>
        <p>AUTOFINANCIERA S.A, o quien ésta designe realizará llamada de verificación para confirmar la información suministrada por el asesor comercial al momento de la colocación del plan, así como los datos del plan descritos en el contrato, dicha llamada será grabada y monitoreada para efectos de control, calidad y calificación del servicio.</p>
    </li>
    <li>
        <p>Manifiesto (amos) conocer el Sistema de Autofinanciamiento Comercial y los términos del Contrato de Adhesión suscrito, los cuales me(nos) han sido claramente explicados y me(nos) comprometo(emos) a cumplirlos en su totalidad.</p>
    </li>
</ol>