<div class="card">
    <div class="card-header bg-azul text-white">
        <label for="texto-legalese">
            Entregas mensuales por medio de sorteo u oferta
        </label>
    </div>
    <div class="card-body">
        <div class="form-control-plaintext h-25" id="texto-legalese" style="max-height:25rem; overflow-y:scroll">

            <ul>
                <li>
                    Las adjudicaciones se realizan en las modalidades se sorteo u oferta mediante asambleas mensuales, ésta cotización y el valor de las cuotas son calculadas con el 15%, 20%, 25% y 30% de administración a 40, 60, 72, 78 y 90 meses, está sujeto a cambios según variaciones del mercado.
                </li>
                <li>Ningún funcionario se podrá comprometer con una fecha determinada para la entrega de su bien.</li>
                <li><strong>Ningún funcionario podrá recibir dinero de los suscriptores, solo está permitido consignar en las cuentas autorizadas por la entidad.</strong></li>
            </ul>

        </div>
    </div>

</div>

    <div class="card">
        <div class="card-header bg-azul text-white">
            <label for="texto-legalese">
                AUTORIZACIÓN PARA EL TRATAMIENTO DE DATOS PERSONALES
            </label>
        </div>
        <div class="card-body">
            <div class="form-control-plaintext h-25" id="texto-legalese" style="max-height:25rem; overflow-y:scroll">

                <p style="font-size:.8rem;">Los datos personales que le solicitamos tiene como finalidad mantener una constante comunicación con nuestros potenciales suscriptores, con fines comerciales y/o publicitarios con el propósito de mantenerlos informados y ofrecerles beneficios y/o descuentos, realizar actos de promoción y publicidad de nuestros productos y/o servicios; y demás actividades de mercadeo, estadísticas, de control de calidad, de satisfacción y administrativas que resulten necesarias en el normal desarrollo de nuestro objeto social. Los datos de carácter personal que se obtengan de su relación con AUTOFINANCIERA S.A., serán recogidos y conservados en una base de datos con la finalidad arriba señalada, y podrán ser objeto de tratamiento por AUTOFINANCIERA S.A., o los terceros que se designe.  Dichas bases de datos se conserva y administra bajo responsabilidad de AUTOFINANCIERA S.A.  La base de datos cuenta con las medidas de seguridad necesarias para la conservación adecuada de los datos.    El titular autoriza el tratamiento de sus datos para la finalidad mencionada y manifiesta que los datos que ha suministrado son veraces y que no ha sido omitida o alterada ninguna información.</p>
                <p style="font-size:.8rem;">Debe tener en cuenta, el derecho que tiene de acceder en cualquier momento a los datos suministrados, así como de solicitar la corrección, actualización, supresión o revocar la presente autorización, en los términos establecidos por la normatividad vigente y en el Manual de Procedimiento de tratamiento de datos personales que contiene las políticas y los procedimientos que le permitirán hacer efectivos sus derechos. Manual al que puede acceder fácilmente para su consulta en la página web www.autofinanciera.com.co, como también puede ser solicitado al teléfono 4441700 de la ciudad de Bogotá.</p>

            </div>
        </div>
    </div>


