@font-face {
    font-family: 'Catamaran';
    src: url('../lib/fonts/catamaran/Catamaran-Regular.ttf') format('opentype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Catamaran';
    src: url('../lib/fonts/catamaran/Catamaran-Medium.ttf') format('opentype');
    font-style: normal;
    font-weight: 500;
}